.comments_main{
  height: 380px;
  overflow: auto;
}

.comments{
  display: flex;
  justify-content: center;
}


.comment-form{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  position: fixed;
  bottom: 60px;
  left: calc(50% - 237px);
}

.form{
  display: flex;
  flex-direction: column;
}

.label-text{
  display: block;
}

.field-comment{
  margin: 2px;
}

.comment_input_field{
  width: 460px;
  margin-top: 2px;
  height: 150px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
  white-space: normal; 
}

.actions-comment{
  text-align: center;
}

.action-btn-comment{
  width: 80px;
  background: black;
  border: 1px solid black;
  color: #fff;
  line-height: 36px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
}