.tweets{
  background-color: bisque;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tweet{
  height: auto;
  width: 450px;
  margin: 20px 30px;
  border: 1px gray solid;
  padding: 10px;
}

.tweet-upper{
  display: flex;
}

.tweet-user{
  font-weight: bold;
}

.tweet-tweet{
  background-color: aqua;
  overflow-wrap: break-word;
}

.tweet-image{
  display: flex;
  justify-content: center;
}

.tweet_image{
  height: 300px;
  width: 400px;
  object-fit: contain;
  background-color: gray;
  border-radius: 3px;
}

.reactions{
  display: flex;
  justify-content: center;
}

.tweet-user-menu{
  display: flex;
  justify-content: center;
}