.tweets{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tweet{
  height: auto;
  width: 450px;
  margin: 20px 30px;
  border: 1px gray solid;
  border-radius: 5px;
  padding: 10px;
}

.tweet-upper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-user{
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.tweet-user-name{
  margin-left: 15px;
}

.tweet_user_name{
  color: black;
text-decoration: none;
}

.tweet-tweet{
  background-color: white;
  overflow-wrap: break-word;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.tweet-image{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.tweet_image{
  height: 300px;
  width: 400px;
  object-fit: contain;
  background-color: rgb(227, 231, 248);
  border-radius: 3px;
}

.reactions{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

/* icon装飾 ****************************************************/

.icon_user{
  height: 50px;
  width: 50px;
  border-radius:50%;
  background-position: center;
  object-fit: contain;
}

.icon_reaction{
  height: 70px;
  width: 70px;
  object-fit: contain;
}

.icon_delete{
  height: 40px;
  width: 40px;
  object-fit: contain;
}