<div class="tweet">

    <div class="tweet-upper">
      <div class="tweet-user">
        <%= tweet.user.nickname %>
      </div>
    </div>

    <% if tweet.image.present? %>
      <div class="tweet-image">
        <%= image_tag(tweet.image,class: :tweet_image) %>
      </div>
    <% end %>

    <div class="tweet-tweet">
      <%= tweet.tweet %>
    </div>

    <div class="reactions">
      <div class="reaction-comment">コメントする</div>
      <div class="reaction-great">GREAT!!</div>
    </div>

    <% if tweet.user == current_user %>
      <div class="tweet-user-menu">
        <div class="tweet-delete">削除</div>
      </div>
    <% end %>

</div>
