<div class="main-center">
  <h2>つぶやく</h2>
</div>

<div class="main-center">

  <div class="form">
    <%= form_with model: @tweet, url: tweets_path, id: 'new_post', local: true do |f| %>

      <div class="field">
        <label class="label-text"></label>
        <%= f.text_area :tweet, placeholder:"最大255文字", class: :tweet_input_field %>
      </div>

      <div class="field">
        <div class="user-image-register", id = "previews" ></div>
        <%= f.file_field :image, placeholder: "画像" %>
      </div>

      

      <div class="actions">
        <%= f.submit "つぶやく",class:"action-btn" %>
      </div>

    <% end %>

  </div>

</div>