<div class="main-center">
  <div class="news-main">
    <h1>このWebサイトについて</h1>

    <div class="news-text">
      ●このWebサイトは現在開発中です
    </div>

    <div class="news-text">
      ●ご利用になる場合は、新規登録画面よりユーザー登録していただくか、
      以下のテスト用アカウントにてご利用ください
    </div>

    <div class="news-text-test">
      テスト用アカウント1<br>
      email    : test1@com<br>
      password : test00
    </div>

    <div class="news-text-test">
      テスト用アカウント2<br>
      email    : test2@com<br>
      password : test00
    </div>

    <div class="news-text">
      ●実装している機能は以下のとおりです
    </div>

    <div class="news-text">
      1.ユーザー登録、管理機能
    </div>

    <div class="news-text">
      2.テキスト、画像投稿機能
    </div>

    <div class="news-text">
      3.コメント機能
    </div>

    <div class="news-text">
      4.いいね機能
    </div>

    <div class="news-text">
      5.基礎代謝表示機能
    </div>

    <div class="news-text">
      6.消費カロリー表示機能
    </div>

    <div class="news-text">
      7.目標達成のための摂取カロリー提案機能
    </div>

    <div class="news-text">
      8.摂取カロリーPFCバランス表示機能
    </div>

    <div class="news-text">
      9.体重・体脂肪率の推移（グラフ）表示機能
    </div>

    <div class="news-text">
      10.過去画像、最新画像の表示機能
    </div>

  
  </div>

</div>