<div class="calorie-data">
  <%= @basal_metabolism %>
</div>
<div class="calorie-data">
  <%= @diff_calorie %>
</div>
<div class="calorie-data">
  <%= @calorie_intake %>
</div>
<div class="calorie-data">
  <%= @nutrients %>
</div>