
/* マイページ装飾 ****************************************************/
.mypage{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.intro{
  display: flex;
}

.user-image{
  height: 400px;
  width: 400px;
  border-radius:50%;
  background-position: center;
  object-fit: contain;
}

.intro-right{
  width: 490px;
  margin-left: 40px;
}

.intro-right-top{
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.intro-user-name{
  font-size: 22px;
  margin-left: 20px;
}

.intro-purpose{
  margin-right: 20px;
}

.intro-right-content{
  width: 100%;
  height: 300px;
  padding: 10px 20px 8px;
  background: #fff;
  font-size: 16px;
  resize: none;
  white-space: normal; 
  border-left: 1px gray solid;
  border-right: 1px gray solid;
}

.intro-right-target{
  height: 80px;
  background-color: #fafafa;
  border-radius: 0 0 5px 5px;
  display: flex;
  border: 1px gray solid;
}

.target-area{
  height: 100%;
  width: 25%;
  padding-right: 15px;
}

.intro-day-text{
  margin-top: 10px;
  text-align: center;
}

.intro-day{
  margin-top: 10px;
  text-align: center;
}

.intro-bodydata{
  width: 100%;
  margin-top: 9px;
  text-align: center;
  font-weight: bold;
  border: solid 1px #272525;
  border-radius: 3px;
  background-color: #fff;
  padding: 3px 0;
}

.unit{
  font-size: smaller;
}

.intro_private{
  width: 100%;
  margin-top: 25px;
  text-align: center;
  font-weight: bold;
  border: solid 1px #272525;
  border-radius: 3px;
  background-color: #fff;
  padding: 3px 0;
}

.icon-edit{
  display: flex;
  justify-content: end;
}

.icon_edit{
  height: 50px;
  width: 50px;
  display: block;
}

.user-data{
  display: flex;
  justify-content: center;
}

.user-data_{
  width: 80%;
}

.data-title{
  margin-top: 60px;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.user-point{
  font-size: 14px;
}

/** calorie-data　装飾 **/
.calorie-data-main{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.calorie-data-title{
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  border-bottom: 1px solid gray;
}

.calorie-data-wrap{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.calorie-data-wrap_macro{
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.calorie-data{
  display: flex;
  margin-left: 5px;
}

.deco_text{
  font-size: small;
  font-weight: lighter;
  margin-left: 5px;
  line-height: 20px;
}

.caution{
  font-weight: bolder;
  font-size: 12px;
  color: red;
  text-align: center;
  margin-top: 20px;
}

/** daily-data　装飾 **/

.body-images{
  display: flex;
  justify-content: center;
}

.body-image{
  margin: 20px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
}

.body-image-text{
  font-size: large;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

.body-image-inputday{
  margin: 10px 0;
  text-align: center;
}

/** chart　装飾 **/

.charts{
  display: flex;
  justify-content: center;
}

.chart{
  margin: 20px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
}

/** daily-data　装飾 **/

.daily-data-wrapper{
  margin-top: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.daily-data{
  margin: 5px;
  height: 240px;
  width: 200px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
  display: inline-block;
}

.daily-data-text{
  font-size: small;
  line-height: 18px;
  letter-spacing: 1.8px;
}

.daily-data-image{
  width: 180px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.daily_data_image{
  height: 100px;
  width: 100px;
  object-fit: contain;
  border: 1px solid gray;
  border-radius: 3px;
}

.daily-bottom{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.icon_daily{
  height: 40px;
  width: 40px;
  object-fit: contain;
}