.user-data{
  display: flex;
  justify-content: center;
}

.user-data_{
  width: 80%;
}

.data-title{
  margin-top: 60px;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

/** daily-data　装飾 **/

.body-images{
  display: flex;
  justify-content: center;
}

.body-image{
  margin: 20px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
}

.body-image-text{
  font-size: large;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

.body-image-inputday{
  margin: 10px 0;
  text-align: center;
}

/** chart　装飾 **/

.charts{
  display: flex;
  justify-content: center;
}

.chart{
  margin: 20px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
}

/** daily-data　装飾 **/

.daily-data-wrapper{
  margin-top: 20px;
  flex-wrap: wrap;
}

.daily-data{
  margin: 5px;
  height: 240px;
  width: 200px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
  display: inline-block;
}

.daily-data-image{
  width: 180px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.daily_data_image{
  height: 100px;
  width: 100px;
  object-fit: contain;
  border: 1px solid gray;
  border-radius: 3px;
}